<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PaintballStore.UI.MVC-20211006031234.mdf;Initial Catalog=aspnet-PaintballStore.UI.MVC-20211006031234;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=Paintball;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>